<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">Django CRM</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a  href="{% url 'logout' %}" class="nav-link">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'add_record' %}" class="nav-link" aria-current="page">Add Record</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="nav-link" aria-current="page">Home</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'register' %}" class="nav-link" aria-current="page">Register</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="nav-link" aria-current="page">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>